* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #d658b3;
  --green: #45b442;
  --gray-700: #332b31;
  --gray-600: #4a4448;
  --gray-500: #756c71;
  --gray-400: #d3cfd2;
  --gray-300: #dfdcdf;
  --gray-200: #e9e7e9;
  --gray-100: #f4f1f2;
  --white: #ffffff;
  --gradient-base: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  --font-family: "Oxygen", sans-serif;
  --title-md: 700 24px/140% var(--font-family);
  --title-sm: 700 18px/140% var(--font-family);
  --subtitle-md: 700 14px/140% var(--font-family);
  --subtitle-sm: 700 12px/140% var(--font-family);
  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);
  --text-xs: 400 12px/140% var(--font-family);
}

body {
  background-color: var(--gray-200);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: 0fr 1fr;
  grid-template-areas:
    "logo logo"
    "search search"
    "user loyalty"
    "history loyalty"
    "history loyalty"
    "history cuts";
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}

.align-itens-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* Layout desktop */

/* HEADER */
.logo {
  grid-area: logo;
  text-align: center;
}

.logo img {
  height: 56px;
  width: 116px;
}

.search {
  grid-area: search;
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 12px;
  padding: 10px;
  background-color: var(--gray-400);
  width: 400px;
  height: 56px;
  transition: border-color 0.3s ease;
}

.input-container:focus-within {
  border-color: var(--pink);
  border-width: 1.5px;
}

.input-container input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  color: #7a6e76;
  background-color: transparent;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--gray-500);
  border-radius: 8px;
}

.input-container input:not(:placeholder-shown) ~ .icon-container {
  background-color: var(--gray-700);
}

.icon-container img {
  width: 20px;
  height: 20px;
  color: white;
}

/* USER INFO */

.user-info {
  grid-area: user;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  height: 90px;
}

.profile-picture {
  width: 56px;
  height: 56px;
  padding: 5px;
  border-radius: 20%;
  background: var(--gradient-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
  background-color: white;
}

.info-profile {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}

.info-profile h2 {
  font: var(--title-sm);
  color: var(--gray-600);
}

.info-profile p {
  font: var(--text-xs);
  color: var(--gray-500);
}
/* HISTORY */

.history {
  grid-area: history;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 360px;
  overflow: auto;
}

.header-info-history {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.header-info-history h2 {
  font: var(--subtitle-sm);
  color: var(--gray-500);
}

.header-info-history p {
  font: var(--text-xs);
  color: var(--gray-500);
}

.container-info-history {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.container-info-history h3 {
  font: var(--subtitle-sm);
  color: var(--gray-600);
}

.container-info-history span {
  font: var(--text-xs);
  color: var(--gray-500);
}

.container-seal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-seal img {
  height: 32px;
  width: 32px;
}

/* LOYALTY CARD */

.loyalty-card {
  grid-area: loyalty;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  height: 333px;
  width: 568px;
}

.header-loyalty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.loyalty-card h3 {
  color: var(--gray-500);
  font: var(--subtitle-sm);
}

.loyalty-card p {
  color: var(--gray-500);
  font: var(--text-sm);
}

.loyalty-seal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 20px;
  background-color: var(--gray-200);
}

.user-id {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-300);
  color: var(--gray-500);
  border-radius: 20px;
  font: var(--subtitle-md);
  padding: 1rem;
  height: 32px;
}

.container-seal-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pin-check {
  height: 64px;
  width: 64px;
}

.gift-fill {
  height: 40px;
  width: 40px;
}

/* CUTS REMAINING */

.cuts-remaining {
  grid-area: cuts;
  background-color: white;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  height: 117px;
}

.number-cuts-reamaining {
  color: var(--gray-500);
  font: var(--title-md);
}

.text-cuts-remaining {
  color: var(--gray-500);
  font: var(--text-md);
}

.count-cuts-reamaining {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: var(--gray-500);
  font: var(--text-xs);
}

.container-gift{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  background-color: var(--gray-200);
  border-radius: 50%;
}

.icon-pin-gift{
  height: 72px;
  margin-top: 10px;
}

.cointainer-cuts-remaining{
  width: 400px;

}

progress { 
  margin-top: 0.5rem;
  width: 300px;
}



/* Layout mobile */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .logo img {
    height: 56px;
    width: 116px;
  }

  .search {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .user-info,
  .loyalty-card,
  .cuts-remaining,
  .history {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  /* Ordem Mobile */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cuts-remaining {
    order: 3;
  }

  .history {
    order: 4;
  }
}
